<app-header-login-user></app-header-login-user>
<h3 class="card-header text-center">Забравена парола</h3>
<div class="card-body text-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body align-items-center d-flex justify-content-center ">
    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email" class="form-control col-14 " placeholder="Въведете имейл" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Изисква се въвеждане на имейл</div>
        <div *ngIf="f.email.errors.email">Имейлът не е валиден</div>
      </div>
    </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Изпрати
      </button>
      <a routerLink="/customers/login" class="btn btn-link">Откажи</a>
    </div>
  </form>
</div>
