<header>
  <!--<script src="https://www.paypal.com/sdk/js?client-id=Aa-jAMD9af9ZOAWHr9JvKUQo82WFDFvsa3kxGpOfNa_utmXcfCK1HzSoj6ArLVczNk9ThIYENU7n5aYt&vault=true"></script>-->

  <!-- Logo Image -->
  <img [src]="imageSrc" [alt]="imageAlt" width="100%" height="90" class="d-inline-block align-middle mr-2">
  <nav class ="navbar navbar-expand-md py-4 navbar-dark bg-dark">
    <a routerLink="../home" class="navbar-brand">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold">ADExpress</span>
    </a>
    <!-- <div class="dropdown">
       <button class="nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Dropdown button
       </button>
       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <a class="dropdown-item" href="#">Action</a>
         <a class="dropdown-item" href="#">Another action</a>
         <a class="dropdown-item" href="#">Something else here</a>
       </div>
     </div>
     <li><a  routerLink="/employee" class="nav-link">Услуги</a></li> -->
    <!-- <li><a  routerLink="/test-insert" class="nav-link">Офиси</a></li> -->
    <ul class="navbar-nav navbar-collapse justify-content-end">
     <!-- <li><a routerLink="customers/register" class="nav-link"></a></li> -->
      <!-- <li><a routerLink="customers/login" class="nav-link">Моят профил <img [src]="profileSrc" [alt]="profileAlt" height="20" width="20"></a></li> -->
      <li><a  routerLink="../contacts" class="nav-link">Контакти</a></li>
      <li class="nav-item dropdown" aria-expanded="true"  aria-haspopup="false">
        <a routerLink="../account" class="nav-link">Профил<img [src]="profileSrc" [alt]="profileAlt" height="20" width="20"></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a routerLink="../account" class="dropdown-item">Моят профил</a>
          <a class="dropdown-item" href="#">Съобщения</a>
          <a class="dropdown-item" href="#">Моите банкови реквизити</a>
        </div>
      </li>
      <li><a (click)="onLogOut()" class="nav-link">Изход</a></li>
    </ul>
  </nav>
</header>
