<app-header-courier></app-header-courier>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Код на пратка</th>
    <th scope="col">Име на пратка</th>
    <th scope="col">Тип на пратка</th>
    <th scope="col">Име на клиент</th>
    <th scope="col">Телефонен номер на клиент</th>
    <th scope="col">Адрес за доставка</th>
    <th scope="col">Цена на пратка</th>
    <th scope="col">Обща цена(с включена такса)</th>
    <th scope="col">Дата на доставяне</th>
    <th scope="col">Статус на пратка</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let package of deliveredPackages$ | async; index as i">
    <td><ngb-highlight [result]="package.package_id" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="package.name_package" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="package.typePackage.type_name" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="package.customer.name + ' ' + package.customer.last_name" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="package.customer.phone" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="package.customer.address" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="package.package_price" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="package.total_cost" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="package.date_delivery_package" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="package.statusPackage.status_type" [term]="filter.value"></ngb-highlight></td>
  </tr>
  </tbody>
</table>
