<!--The content below is only a placeholder and can be replaced.-->

<router-outlet name="header"></router-outlet>
<div class="bodyHome">
<router-outlet></router-outlet>
  <div class="container mt-5">
  <div class="row">
    <img [src]="image_2Src" [alt]="image_2Alt" width="400px" height="250px" class="d-inline-block picture">
    <div class="col-sm-8">
      <h2>ADEXPRESS</h2>
      <h5>Създадена от 2022</h5>
      <p>
        "ADEXPRESS" е компания извършваща куриерски услуги
        в територията на Република България. Целта на стартиращата
        компания е да предлага транспортиране на пратки от всякакъв
        тип, като това включва приемане, обработване, пренасяне и доставяне
        пратките. Най-важната задача е пратките на клиентите винаги да престигат навреме,
        както и да са невредими. На клиентите е предоставен бърз и лесен достъп до техните профили,
        за да може да си проследят техните пратки както и да алармират при възникнали проблеми.
      </p>

    </div>
  </div>
</div>
</div>
<router-outlet name="footer"></router-outlet>
