<header>
  <!-- Logo Image -->
  <nav class ="navbar navbar-expand-md py-4 navbar-dark bg-dark">
    <a href="http://localhost:4200/" class="navbar-brand">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold">ADExpress</span>
    </a>
    <!-- <div class="dropdown">
       <button class="nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Dropdown button
       </button>
       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <a class="dropdown-item" href="#">Action</a>
         <a class="dropdown-item" href="#">Another action</a>
         <a class="dropdown-item" href="#">Something else here</a>
       </div>
     </div>
     <li><a  routerLink="/employee" class="nav-link">Услуги</a></li>-->
    <!-- <li><a  routerLink="/test-insert" class="nav-link">Офиси</a></li>-->
  </nav>

</header>
