<app-header-layout-adiministrator></app-header-layout-adiministrator>
<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <h3>Регистриране на пратка</h3>
    <form class="search">
      <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Търси по име на пратка:</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
        </div>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
