::ng-deep .btn-facebook {
  background: #3B5998;
  color: #fff;
}
::ng-deep .google-auth-btn {
  display: inline-block;
  background-color: #fff;
  color: #757575;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
::ng-deep .facebook-auth-btn{
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
}
::ng-deep .btn-facebook:hover{
  background-color: #00008B;
}
::ng-deep .custom-facebook-signin-text{
  padding: 17px 17px;
}

::ng-deep .aslGoogleBtn{
  float: right;
}
::ng-deep .google-auth-btn:hover {
  background-color: #f1f1f1;
  color: #333;
}

::ng-deep .google-auth-btn:active {
  background-color: #ddd;
}

::ng-deep .custom-google-signin-text {
  float: left;
  margin-left: 8px;
  margin-top: 10px;
  margin-right: 6px;
  font-size: 14px;
  color: #757575;
}
.registrationLink{
  font-size: 20px;
}
.card-pos{
  text-align: right;
}
.card-posit{
  float: right;
}

