<footer class="footer">
  <footer
    class="text-center text-lg-start text-white"
    style="background-color: #1c2331"
  >
    <!-- Section: Social media -->
    <section
    >
      <!-- Left -->
      <div class="me-5">
        <span><img [src]="logoSrc" [alt]="FbAlt" height="100" width="100"> 2022 Ейди Експрес ООД</span>
      </div>
      <!-- Left -->
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">ADExpress</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              Основната дейност на "ADEXPRESS" е да се грижи пратките
              на клиентите да пристигат винаги навреме и невредими.
              Това включва приемане,обработка,пренасяне и доставяне на стоки и
              документи на териротията на Република България.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Услуги</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              <a href="#!" class="text-white">Международни услуги</a>
            </p>
            <p>
              <a href="#!" class="text-white">Услуги в страната</a>
            </p>
            <p>
              <a href="#!" class="text-white">Онлайн услуги</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Помощни линкове</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              <a href="#!" class="text-white">Общи условия</a>
            </p>
            <p>
              <a href="#!" class="text-white">API интеграция</a>
            </p>
            <p>
              <a href="#!" class="text-white">Новини</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Контакти</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p><i class="fas fa-home mr-3"></i> Bulgaria, Varna </p>
            <p><i class="fas fa-envelope mr-3"></i> contacts@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 359 894 3434 21</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <h5>Последвайте ни</h5>
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1 btnBorder" href="https://www.facebook.com/angel.dimitrov.92/" role="button"
        > <img [src]="FbSrc" [alt]="FbAlt" height="20" width="20"></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1 btnBorder" href="https://www.instagram.com/a.dimitrovv/" role="button"
        ><img [src]="InstaSrc" [alt]="InstaAlt" height="20" width="20"></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1 btnBorder" href="https://twitter.com/Angel92724973" role="button"
        ><img [src]="PhoneSrc" [alt]="PhoneAlt" height="20" width="20"></a>

        <!-- Instagram -->
        <a  class="btn btn-outline-light btn-floating m-1 btnBorder" href="#!" role="button"
        ><img [src]="LinkedinSrc" [alt]="LinkedinAlt" height="20" width="20"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Copyright -->
  </footer>
</footer>
