.search{
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
}
.hrStyle{
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  margin-bottom: -10px;
}
.topic{
}
.flexcon{
  display: flex;

}
