<app-header-courier></app-header-courier>
<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <form class="search">
      <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Търси пратка(по име или по телефон на клиент):</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Код на пратка</th>
        <th scope="col">Име на пратка</th>
        <th scope="col">Тип на пратка</th>
        <th scope="col">Име на клиент</th>
        <th scope="col">Телефонен номер на клиент</th>
        <th scope="col">Проблем с пратката</th>
        <th scope="col">Адрес на доставка</th>
        <th scope="col">Цена на пратка</th>
        <th scope="col">Обща цена(с включена такса)</th>
        <th scope="col">Дата на изпращане</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let packageProblem of packages$ | async; index as i">
        <td><ngb-highlight [result]="packageProblem.packages_problem.package_id" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="packageProblem.packages_problem.name_package" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="packageProblem.packages_problem.typePackage.type_name" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="packageProblem.packages_problem.customer.name + ' ' + packageProblem.packages_problem.customer.last_name" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="packageProblem.packages_problem.customer.phone" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="packageProblem.message" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="packageProblem.packages_problem.customer.address" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="packageProblem.packages_problem.package_price" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="packageProblem.packages_problem.total_cost" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="packageProblem.packages_problem.date_register_package" [term]="filter.value"></ngb-highlight></td>
        <td>
          <button class="btn btn-success" (click)="updatePackage(packageProblem)" style="margin-left: 20px;">Доставена</button>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>
